<ng-container [formGroup]="parentFormGroup">
  <div formGroupName="settings" class="space-y-6">
    <div class="flex justify-between items-center">
      <div class="flex gap-4 items-center space-x-3">
        <input
          id="deep-{{ urlIndex() }}"
          type="checkbox"
          formControlName="deep"
          class="size-5 border-gray-300 rounded-lg focus:ring focus:ring-gray-400 accent-primary" />
        <label for="deep-{{ urlIndex() }}" class="text-sm font-medium text-gray-800">{{
          lang.locals.deep_crawling
        }}</label>
      </div>

      <div class="flex gap-4 items-center space-x-3">
        <input
          id="mediaCrawling-{{ urlIndex() }}"
          type="checkbox"
          formControlName="mediaCrawling"
          class="size-5 border-gray-300 rounded-lg focus:ring focus:ring-gray-400 accent-primary" />
        <label for="mediaCrawling-{{ urlIndex() }}" class="text-sm font-medium text-gray-800">{{
          lang.locals.media_crawling
        }}</label>
      </div>
    </div>

    <div>
      <label for="selectors" class="block text-sm font-medium text-gray-800"
        >{{ lang.locals.selectors }}<small class="mx-2 opacity-70">({{ lang.locals.chips_tip }})</small></label
      >
      <app-chips-input [placeholder]="lang.locals.add_selector" formControlName="selectors" />
    </div>

    @if (showTopics()) {
      <div>
        <label for="topics" class="block text-sm font-medium text-gray-800"
          >{{ lang.locals.topics }} <small class="mx-2 opacity-70">({{ lang.locals.chips_tip }})</small></label
        >
        <app-chips-input [placeholder]="lang.locals.add_topic" formControlName="topics" />
      </div>
    }

    <div>
      <label for="containerName-{{ urlIndex() }}" class="block text-sm font-medium text-gray-800">{{
        lang.locals.container_name
      }}</label>
      <input
        id="containerName-{{ urlIndex() }}"
        type="text"
        formControlName="containerName"
        class="w-full p-2 border border-gray-300 bg-transparent rounded-lg focus:outline-none focus:ring focus:ring-gray-300 text-gray-800" />
    </div>
  </div>
</ng-container>
