:host {
  display: contents;
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(1);
  }
  20% {
    transform: scale(0.6);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(0.4);
  }
  80% {
    transform: scale(0.25);
  }
}

.bounce-animation {
  animation: bounce 0.8s linear infinite;
}
