<div class="flex flex-col items-center justify-center">
  <!--  <div class="absolute bg-black/50 text-white bottom-0 z-40">{{ recognizedText() }}</div>-->
  <div cdkDrag class="relative">
    <div
      cdkDragHandle
      class="absolute cursor-move flex items-start justify-end p-2 right-0 top-0 bg-black/40 w-40 h-40 rounded-md text-white">
      <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
        <path
          d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
        <path d="M0 0h24v24H0z" fill="none"></path>
      </svg>
    </div>
    <div class="rounded-full bg-white size-80 shadow-2xl overflow-hidden relative">
      <div
        [@recordButton]="recordStatus()"
        class="w-[calc(100%-10px)] h-[calc(100%-10px)] mt-[5px] ml-[5px] rounded-full absolute z-20 top-0 bg-red-800"></div>
      <div
        [ngClass]="{ hidden: !isStarted() }"
        class="w-full pointer-events-none h-full opacity-90 z-50 relative"
        #waves></div>
      <button
        class="h-full w-full text-4xl font-black rounded-full absolute z-30 top-0"
        [ngClass]="{ 'text-white': isStarted() }"
        (pointerdown)="toggleRecord()"
        (pointerup)="toggleRecord()"
        (contextmenu)="$event.preventDefault()">
        <span class="pointer-events-none">
          @switch (recordStatus()) {
            @case ('InProgress') {
              {{ 'LOADING' }}
            }
            @case ('Started') {
              {{ 'RECORDING' }}
            }
            @case ('Stopped') {
              {{ 'PRESS' }}
            }
          }
        </span>
      </button>
    </div>
  </div>
</div>
