.user-message,
.assistant-message,
.system-message {
  @apply p-2 mb-2 rounded-md relative;
}

.system-message {
  @apply bg-red-600 text-white;
}

.user-message {
  @apply bg-primary text-white;

  &:before {
    content: '';
    position: absolute;
    right: -12px;
    top: 0;
    width: 12px;
    height: 12px;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    @apply bg-primary;
  }
}

.assistant-message {
  @apply bg-gray-200 text-black;
  &:before {
    content: '';
    position: absolute;
    left: -10px;
    top: 0;
    width: 12px;
    height: 12px;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    @apply bg-gray-200;
  }
}

html[dir='ltr'] {
  .user-message {
    &:before {
      content: '';
      position: absolute;
      left: -12px;
      top: 0;
      width: 12px;
      height: 12px;
      clip-path: polygon(0 0, 100% 0, 100% 100%);
      @apply bg-primary;
    }
  }

  .assistant-message {
    &:before {
      content: '';
      position: absolute;
      right: -12px;
      top: 0;
      width: 12px;
      height: 12px;
      clip-path: polygon(0 0, 100% 0, 0 100%);
      @apply bg-gray-200;
    }
  }
}

html[dir='rtl'] {
  .user-message {
    &:before {
      content: '';
      position: absolute;
      right: -12px;
      top: 0;
      width: 12px;
      height: 12px;
      clip-path: polygon(0 0, 100% 0, 0 100%);
      @apply bg-primary;
    }
  }

  .assistant-message {
    @apply self-end #{!important};
    &:before {
      content: '';
      position: absolute;
      left: -10px;
      top: 0;
      width: 12px;
      height: 12px;
      clip-path: polygon(0 0, 100% 0, 100% 100%);
      @apply bg-gray-200;
    }
  }
}

/**    **/
.spinner {
  width: auto;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

.svg {
  position: absolute;
  width: 0;
  height: 0;
}
