<div class="p-4 w-full">
  <h2 class="text-xl font-semibold text-gray-700 p-4">{{ emotions().length }} {{ lang.locals.emotions }}</h2>

  <div class="flex items-center gap-2">
    @for (emotion of emotions(); track $index) {
      <div class="inline-flex items-center gap-2">
        <!-- Circle with background color -->
        <div [ngClass]="colorMap[emotion.type].bg" class="size-2 rounded-full"></div>

        <!-- Percentage with dynamic text color -->
        <span [ngClass]="colorMap[emotion.type].text">
          {{ emotion.instances | appearancePercentage: videoAnalyzer.videoLengthInSeconds() | number: '1.2-2' }}%
        </span>

        <!-- Emotion type text with dynamic color -->
        <span [ngClass]="colorMap[emotion.type].text">
          {{ translateMap[emotion.type] }}
        </span>
      </div>
    }
  </div>

  <app-insights-timeline [instanceGroup]="instanceGroup()" />
</div>
