<div class="h-[90vh] grid items-center justify-center">
  <section class="flex flex-col w-full p-4 bg-gray-100 rounded-md border-2 border-gray-300 max-h-[60vh] min-w-[500px]">
    <h1 class="font-medium text-xl text-center">{{ lang.locals.login }}</h1>
    <form class="contents" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label for="userName">{{ lang.locals.user_name }}</label>
        <input
          [placeholder]="lang.locals.user_name"
          formControlName="userName"
          id="userName"
          type="text"
          class="rounded-md p-2 w-full border-2 border-gray-300 outline-none focus:border-primary" />
      </div>
      <div class="mb-4">
        <label for="password">{{ lang.locals.password }}</label>
        <input
          [placeholder]="lang.locals.password"
          formControlName="password"
          id="password"
          type="password"
          class="rounded-md p-2 w-full border-2 border-gray-300 outline-none focus:border-primary" />
      </div>
      <button type="submit" class="bg-primary m-auto rounded-md w-full md:w-1/3 text-white p-1">
        <span>
          {{ lang.locals.login }}
        </span>
      </button>
    </form>
  </section>
</div>
