<div class="flex flex-col justify-center items-center gap-4">
  <h5 class="text-gray-200 text-lg">{{ lang.locals.search_message }}</h5>
  <div class="flex justify-center items-center gap-4 w-full">
    <select
      [matTooltip]="lang.locals.change_bot + '\n' + lang.locals.change_bot_note"
      [matTooltipClass]="'whitespace-pre-line'"
      [formControl]="botNameCtrl"
      class="p-1 w-24 text-sm border-b-2 bg-transparent border-gray-400 focus:ring-primary focus:border-primary outline-none">
      @for (chatbot of botNames$ | async; track $index) {
        <option class="text-gray-700" [value]="chatbot">{{ chatbot }}</option>
      }
    </select>
    <div class="relative flex gap-2 w-6/12">
      <ng-container [ngTemplateOutlet]="searchIcon" />
      <input
        [formControl]="searchForm"
        type="text"
        tabindex="1"
        class="block w-full p-3 ps-10 pe-12 text-lg text-gray-700 border border-gray-300 rounded-lg bg-gray-100 focus:ring-gray-400 focus:border-gray-400 focus:ring-4 outline-none ring-2 ring-gray-500"
        [placeholder]="lang.locals.search_in_website" />
      @if (loadingSubject$ | async) {
        <ng-container [ngTemplateOutlet]="spinnerIcon" />
      }
    </div>
    <app-recorder #recorder (recognized$)="searchForm.setValue($event)" (recognizing$)="searchForm.setValue($event)" />
  </div>
</div>
@if (searchResults$ | async; as searchResults) {
  <div class="container m-2">
    <div class="flex justify-start items-center gap-2 mb-2">
      @if (searchToken()) {
        <ng-container
          *ngTemplateOutlet="
            badge;
            context: { $implicit: lang.locals.search_about, value: searchToken(), klass: 'truncate max-w-[50%]' }
          " />
      }
      @if (total()) {
        <ng-container *ngTemplateOutlet="badge; context: { $implicit: lang.locals.result_count, value: total() }" />
      }
    </div>
    <div class="flex justify-center items-center">
      <dl
        class="bg-gray-200 shadow-gray-200 overflow-hidden relative shadow-sm w-full rounded-md border-gray-400 border p-4 text-gray-700"
        [@fadeInSlideUp]="animateTrigger()">
        @for (item of searchResults; track item.chunk_id; let i = $index) {
          @let isTruncated = isTruncatedContent()[i];

          <div class="flex flex-col border-b last-of-type:border-none border-gray-400 p-2 space-y-3">
            <dt>
              <a class="font-semibold text-primary underline cursor-pointer" [href]="item.ref_url" target="_blank">
                {{ item.title }}
              </a>
              @if (item['@search.highlights']) {
                <ng-template
                  *ngTemplateOutlet="
                    highlightOptions;
                    context: { $implicit: item['@search.highlights'].merged_content }
                  " />
                <ng-template
                  *ngTemplateOutlet="
                    highlightOptions;
                    context: { $implicit: item['@search.highlights'].imageCaption }
                  " />
              }
            </dt>
            <dd
              [ngClass]="{
                '!truncate': isTruncated,
                '!whitespace-nowrap': isTruncated,
              }">
              {{ item.chunk }}
            </dd>
            <button
              class="text-blue-600 outline-none text-base bg-transparent underline flex justify-start items-center gap-1"
              type="button"
              (click)="isTruncatedContent()[i] = !isTruncatedContent()[i]">
              {{ isTruncated ? lang.locals.show_more : lang.locals.show_less }}
              @if (isTruncated) {
                <svg xmlns="http://www.w3.org/2000/svg" class="size-6" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" />
                </svg>
              } @else {
                <svg xmlns="http://www.w3.org/2000/svg" class="size-6" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z" />
                </svg>
              }
            </button>
          </div>
        }
      </dl>
    </div>
    <mat-paginator
      #paginator
      class="rounded-md sticky bottom-0 border-2 border-gray-700 mt-3 [&_div.mat-mdc-paginator-outer-container]:bg-gray-200 [&_div.mat-mdc-paginator-outer-container]:rounded-md [&_div.mat-mdc-paginator-outer-container_div.mat-mdc-paginator-container]:justify-center"
      (page)="onPaginate($event)"
      [pageSizeOptions]="pageSizeOptions"
      [pageSize]="pageSize"
      [length]="total()"></mat-paginator>
  </div>
}

<ng-template #searchIcon>
  <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
    <svg
      class="w-4 h-4 text-gray-500"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 20 20">
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
    </svg>
  </div>
</ng-template>
<ng-template #spinnerIcon>
  <div class="absolute inset-y-0 end-0 flex items-center pe-3 pointer-events-none">
    <div
      class="animate-spin inline-block size-6 border-[3px] border-current border-t-transparent text-primary rounded-full"
      role="status"
      aria-label="loading">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>

<ng-template #badge let-label let-value="value" let-klass="klass">
  <span
    class="bg-primary  {{
      klass
    }} text-gray-200 rounded-md text-base px-2.5 py-0.5 border border-primary shadow-gray-200 shadow-sm"
    >{{ label }} : <strong>{{ value }}</strong></span
  >
</ng-template>

<ng-template #highlightOptions let-list>
  @if (list.length > 0) {
    <div>
      @for (item of list; track item) {
        <p>{{ item }}</p>
      }
    </div>
  }
</ng-template>
