<div class="flex flex-col justify-center items-center gap-4">
  <h5 class="text-gray-200 text-lg">Empowering Insights, Unleashing Intelligence!</h5>
  <div class="relative w-6/12">
    <ng-container [ngTemplateOutlet]="searchIcon" />
    <input
      [formControl]="searchForm"
      type="text"
      tabindex="1"
      class="block w-full p-3 ps-10 pe-12 text-lg text-gray-700 border border-gray-300 rounded-lg bg-gray-100 focus:ring-primary-400 focus:border-primary-400 focus:ring-2 outline-none ring-2 ring-gray-500"
      [placeholder]="lang.locals.search_in_website" />
    @if (loadingSubject$ | async) {
      <ng-container [ngTemplateOutlet]="spinnerIcon" />
    }
  </div>
</div>
@if (searchResults$ | async; as seachResutls) {
  <div class="container m-2">
    <div class="flex justify-start items-center gap-2 mb-2">
      @if (searchToken()) {
        <ng-container
          *ngTemplateOutlet="
            badge;
            context: { $implicit: lang.locals.search_about, value: searchToken(), klass: 'truncate max-w-[50%]' }
          " />
      }
      @if (total()) {
        <ng-container *ngTemplateOutlet="badge; context: { $implicit: lang.locals.result_count, value: total() }" />
      }
    </div>
    <div class="flex justify-center items-center">
      <dl
        class="bg-gray-200 shadow-gray-200 overflow-hidden relative shadow-sm w-full rounded-md border-gray-400 border p-4 text-gray-700"
        [@fadeInSlideUp]="animateTrigger()">
        @for (item of seachResutls; track item.chunk_id; let i = $index) {
          @let isTruncated = isTruncatedContent()[i];

          <div class="flex flex-col border-b last-of-type:border-none border-gray-400 p-2 space-y-3">
            <dt>
              <a class="font-semibold text-primary-500 underline cursor-pointer" [href]="item.ref_url" target="_blank">
                {{ item.title }}
              </a>
              @if (item['@search.highlights']) {
                <ng-template
                  *ngTemplateOutlet="
                    highlightOptions;
                    context: { $implicit: item['@search.highlights'].merged_content }
                  " />
                <ng-template
                  *ngTemplateOutlet="
                    highlightOptions;
                    context: { $implicit: item['@search.highlights'].imageCaption }
                  " />
              }
            </dt>
            <dd
              [ngClass]="{
                '!truncate': isTruncated,
                '!whitespace-nowrap': isTruncated,
              }">
              {{ item.chunk }}
            </dd>
            <button
              class="text-blue-600 outline-none text-base bg-transparent underline flex justify-start items-center gap-1"
              type="button"
              (click)="isTruncatedContent()[i] = !isTruncatedContent()[i]">
              {{ isTruncated ? lang.locals.show_more : lang.locals.show_less }}
              @if (isTruncated) {
                <svg xmlns="http://www.w3.org/2000/svg" class="size-6" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" />
                </svg>
              } @else {
                <svg xmlns="http://www.w3.org/2000/svg" class="size-6" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z" />
                </svg>
              }
            </button>
          </div>
        }
      </dl>
    </div>
    <mat-paginator
      class="rounded-md sticky bottom-0 border-2 border-gray-700 mt-3 [&_div.mat-mdc-paginator-outer-container]:bg-gray-200 [&_div.mat-mdc-paginator-outer-container]:rounded-md [&_div.mat-mdc-paginator-outer-container_div.mat-mdc-paginator-container]:justify-center"
      (page)="onPaginate($event)"
      [pageSizeOptions]="pageSizeOptions"
      [pageSize]="pageSize"
      [length]="total()"></mat-paginator>
  </div>
}

<ng-template #searchIcon>
  <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
    <svg
      class="w-4 h-4 text-gray-500"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 20 20">
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
    </svg>
  </div>
</ng-template>
<ng-template #spinnerIcon>
  <div class="absolute inset-y-0 end-0 flex items-center pe-3 pointer-events-none">
    <div role="status">
      <svg
        aria-hidden="true"
        class="inline w-6 h-6 text-gray-200 animate-spin fill-primary-600"
        viewBox="0 0 100 101"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
          fill="currentColor" />
        <path
          d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
          fill="currentFill" />
      </svg>
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>

<ng-template #badge let-label let-value="value" let-klass="klass">
  <span
    class="bg-primary-500  {{
      klass
    }} text-gray-200 rounded-md text-base px-2.5 py-0.5 border border-primary-300 shadow-gray-200 shadow-sm"
    >{{ label }} : <strong>{{ value }}</strong></span
  >
</ng-template>

<ng-template #highlightOptions let-list>
  @if (list.length > 0) {
    <div>
      @for (item of list; track item) {
        <p>{{ item }}</p>
      }
    </div>
  }
</ng-template>
