.selected {
  @apply bg-gray-300 shadow-md border-2 border-dashed border-primary rounded-md transition-all ease-in-out duration-150;
}
.content-item > *::selection {
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
}
