<div class="flex flex-wrap lg:flex-nowrap w-full space-y-4 gap-3">
  <!-- Chips and PDF Viewer -->
  <div class="flex flex-col w-full space-y-4">
    <!-- Chips Section -->
    <!-- PDF Viewer -->
    <div class="rounded-md overflow-hidden bg-white border border-gray-300">
      <ngx-extended-pdf-viewer
        [height]="'50vh'"
        [src]="file().base64"
        [theme]="'dark'"
        [language]="lang.currentLanguage"
        [textLayer]="true"
        [showFindButton]="'always-visible'"
        [findbarVisible]="false"
        [backgroundColor]="'#d1d5db'"
        (updateFindMatchesCount)="updateFindMatchesCount($event)"
        (updateFindState)="updateFindState($event)"
        [showOpenFileButton]="false"></ngx-extended-pdf-viewer>
    </div>
  </div>
</div>
