<div class="flex flex-col" cdkDrag cdkDragRootElement=".cdk-overlay-pane">
  <!-- Dialog Header -->
  <div class="bg-primary text-white p-4">
    <span class="text-lg">{{ lang.locals.vacations_list }}</span>
    <button type="button" cdkDragHandle>
      <svg width="24px" class="absolute cursor-move top-1 left-1 mt-4 ml-4" fill="currentColor" viewBox="0 0 24 24">
        <path
          d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
        <path d="M0 0h24v24H0z" fill="none"></path>
      </svg>
    </button>
  </div>

  <div #vacationWrapper class="relative max-h-96">
    <table class="min-w-full border-collapse">
      <!-- Sticky Header -->
      <thead class="bg-primary text-white text-center sticky top-0 z-10">
        <tr>
          <th class="px-4 py-2">{{ lang.locals.employee_name }}</th>
          <th class="px-4 py-2">{{ lang.locals.manager_name }}</th>
          <th class="px-4 py-2">{{ lang.locals.department }}</th>
          <th class="px-4 py-2">{{ lang.locals.start_date }}</th>
          <th class="px-4 py-2">{{ lang.locals.end_date }}</th>
          <th class="px-4 py-2">{{ lang.locals.total_days }}</th>
          <th class="px-4 py-2">{{ lang.locals.status }}</th>
          <th class="px-4 py-2">{{ lang.locals.comments }}</th>
          <th class="px-4 py-2">{{ lang.locals.actions }}</th>
        </tr>
      </thead>

      <!-- Table Body -->
      <tbody class="text-center">
        @for (vacation of data; track $index) {
          <tr>
            <td
              class="px-4 py-2 border-b truncate break-words max-w-40"
              matTooltip="{{ vacation.Employee_Name }}"
              matTooltipPosition="above">
              {{ vacation.Employee_Name }}
            </td>
            <td
              class="px-4 py-2 border-b truncate break-words max-w-40"
              matTooltip="{{ vacation.Manager_Name }}"
              matTooltipPosition="above">
              {{ vacation.Manager_Name }}
            </td>
            <td
              class="px-4 py-2 border-b truncate break-words max-w-40"
              matTooltip="{{ vacation.Department }}"
              matTooltipPosition="above">
              {{ vacation.Department }}
            </td>
            <td
              class="px-4 py-2 border-b truncate break-words max-w-40"
              matTooltip="{{ vacation.Start_Date | date: 'short' }}"
              matTooltipPosition="above">
              {{ vacation.Start_Date | date: 'short' }}
            </td>
            <td
              class="px-4 py-2 border-b truncate break-words max-w-40"
              matTooltip="{{ vacation.End_Date | date: 'short' }}"
              matTooltipPosition="above">
              {{ vacation.End_Date | date: 'short' }}
            </td>
            <td
              class="px-4 py-2 border-b truncate break-words max-w-40"
              matTooltip="{{ vacation.Total_Days }}"
              matTooltipPosition="above">
              {{ vacation.Total_Days }}
            </td>
            <td
              class="px-4 py-2 border-b truncate break-words max-w-40"
              [matTooltip]="getStatus(vacation)"
              matTooltipPosition="above">
              <span
                [ngClass]="{
                  'bg-green-500': isApproved(vacation),
                  'bg-red-500': isRejected(vacation),
                  'bg-yellow-500': isPending(vacation),
                }"
                class="p-1 text-xs text-white rounded-md lowercase"
                >{{ getStatus(vacation) }}</span
              >
            </td>
            <td
              class="px-4 py-2 border-b truncate break-words max-w-40"
              matTooltip="{{ vacation.Comments }}"
              matTooltipPosition="above">
              {{ vacation.Comments }}
            </td>
            <td class="px-4 py-2 border-b text-center flex justify-center items-center gap-4">
              @if (!isApproved(vacation)) {
                <button
                  type="button"
                  (click)="approveVacation(vacation)"
                  class="size-8 bg-green-500 hover:bg-green-600 disabled:bg-green-300 text-white rounded-full flex items-center justify-center"
                  [matTooltip]="lang.locals.approved"
                  matTooltipPosition="above">
                  <svg fill="currentColor" class="size-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z" />
                  </svg>
                </button>
              }
              @if (!isRejected(vacation)) {
                <button
                  type="button"
                  (click)="rejectVacation(vacation)"
                  class="size-8 bg-red-500 hover:bg-red-600 disabled:bg-red-300 text-white rounded-full flex items-center justify-center"
                  [matTooltip]="lang.locals.rejected"
                  matTooltipPosition="above">
                  <svg fill="currentColor" class="size-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                      d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
                  </svg>
                </button>
              }
              @if (!isPending(vacation)) {
                <button
                  type="button"
                  (click)="pendingVacation(vacation)"
                  class="size-8 bg-yellow-500 hover:bg-yellow-600 disabled:bg-yellow-300 text-white rounded-full flex items-center justify-center"
                  [matTooltip]="lang.locals.pending"
                  matTooltipPosition="above">
                  <svg fill="currentColor" class="size-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                      d="M12,20A8,8 0 0,0 20,12A8,8 0 0,0 12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22C6.47,22 2,17.5 2,12A10,10 0 0,1 12,2M12.5,7V12.25L17,14.92L16.25,16.15L11,13V7H12.5Z" />
                  </svg>
                </button>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
  <!-- Table Wrapper -->
</div>
