.message {
  @apply relative flex flex-col text-3xl;
}

.message.user {
  @apply items-end;
  & > div {
    @apply bg-black/50 p-2 rounded-md rounded-tr-none;
    &:after {
      content: '';
      position: absolute;
      right: -12px;
      top: 0;
      width: 12px;
      height: 12px;
      clip-path: polygon(0 0, 100% 0, 0 100%);
      background-color: inherit;
    }
  }
}

.message.assistant {
  @apply items-start;
  & > div {
    @apply bg-black/20 p-2 rounded-md rounded-tl-none;
    &:after {
      content: '';
      position: absolute;
      left: -12px;
      top: 0;
      background-color: inherit;
      width: 12px;
      height: 12px;
      clip-path: polygon(0 0, 100% 0, 100% 100%);
    }
  }
}
