<div class="flex flex-col w-[min(500px,80vw)]" appIgnoreSelection>
  <div class="p-4 bg-primary text-white">{{ lang.locals.confirm_action }}</div>
  <div class="p-4 min-h-0 flex flex-auto flex-col">
    <!-- Image -->
    @if (data.imageUrl) {
      <div class="mb-4">
        <img [src]="data.imageUrl" alt="Dialog Image" class="w-full h-auto rounded-md" />
      </div>
    }

    <!-- Message -->
    @if (data.message) {
      <div class="mb-4 text-gray-700 text-center">
        <p>{{ data.message }}</p>
      </div>
    }

    <!-- Custom HTML Content -->
    @if (data.htmlContent) {
      <div class="mb-4 text-gray-700" [innerHTML]="data.htmlContent"></div>
    }
  </div>
</div>

<!-- Buttons -->
<div class="flex justify-between mt-6 space-x-2 gap-4 p-4">
  <button
    type="button"
    class="bg-gray-300 w-1/2 text-gray-800 font-medium py-2 px-4 rounded-lg hover:bg-gray-400 focus:ring-2 focus:ring-gray-200 focus:outline-none {{
      data.cancelButtonClasses || ''
    }}"
    (click)="onCancel()">
    {{ data.cancelButtonText || lang.locals.cancel }}
  </button>
  <button
    type="button"
    (click)="onConfirm()"
    class="bg-primary/90 w-1/2 text-white font-medium py-2 px-4 rounded-lg hover:bg-primary focus:ring-4 focus:ring-gray-300 focus:outline-none disabled:opacity-50 {{
      data.confirmButtonClasses || ''
    }}">
    {{ data.confirmButtonText || lang.locals.confirm }}
  </button>
</div>
