<div class="relative h-16 flex justify-center items-center gap-2">
  <div class="relative h-full w-16">
    <button
      [matTooltip]="lang.locals.cancel_recording"
      matTooltipPosition="before"
      (click)="rejectText()"
      appButton
      shape="pill"
      [ngClass]="{ '-start-10 opacity-100': store.isRecordingStarted() }"
      class="!p-1 !absolute top-1/2 -translate-y-1/2 opacity-0 transition-all duration-300">
      <svg class="w-5 h-5" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path
          d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
      </svg>
    </button>
    <button
      [disabled]="store.isRecordingLoading() || recognizingStatus()"
      (click)="toggleRecording()"
      class="relative h-full !w-16 flex flex-col items-center justify-center bg-secondary-100 rounded-md shadow text-primary text-xs transition-all hover:bg-white/70 disabled:opacity-50 disabled:cursor-not-allowed">
      @if (store.isRecordingLoading()) {
        <app-spinner-loader [color]="appColors.PRIMARY" [borderWidth]="2" [width]="20" />
        <span>{{ lang.locals.loading }}</span>
      }
      @if (store.isRecordingStopped()) {
        <img [src]="'assets/icons/speak.png'" class="size-6" alt="start" />
        <span>{{ lang.locals.click_to_speak }}</span>
      }
      @if (store.isRecordingStarted() && recognizingStatus()) {
        <img [src]="'assets/icons/speak.png'" class="size-6" alt="start" />
        <span>{{ lang.locals.listening_ongoing }}</span>
      }
      @if (store.isRecordingStarted() && !recognizingStatus()) {
        <div [innerHTML]="svgIcons.SEND | sanitizer: 'html'" class="size-6"></div>
        <span>{{ lang.locals.click_to_send }}</span>
      }
    </button>
  </div>
  <button
    [disabled]="!store.isStreamStarted()"
    (click)="interruptAvatar()"
    class="!w-16 h-full flex flex-col items-center justify-center bg-secondary-100 rounded-md shadow text-primary text-xs transition-all hover:bg-white/70 disabled:opacity-50 disabled:cursor-not-allowed">
    <span class="relative size-6">
      <img [src]="'assets/icons/speak.png'" class="w-full h-full" alt="start" />
      <img [src]="'assets/icons/stop.png'" class="absolute top-0 left-0 w-full h-full opacity-60" alt="start"
    /></span>
    {{ lang.locals.stop_talking }}
  </button>
  <button
    [disabled]="!chatService.messages().length"
    (click)="clearChat()"
    class="!w-16 h-full flex flex-col items-center justify-center bg-secondary-100 rounded-md shadow text-primary text-xs transition-all hover:bg-white/70 disabled:opacity-50 disabled:cursor-not-allowed">
    <img [src]="'assets/icons/clear-chat.png'" class="size-6" alt="start" />
    {{ lang.locals.clear_chat_history }}
  </button>
</div>

<!-- <select
    [matTooltip]="lang.locals.change_bot + '\n' + lang.locals.change_bot_note"
    [matTooltipClass]="'whitespace-pre-line'"
    [formControl]="chatService.botNameCtrl"
    class="block p-1 w-full truncate text-gray-200 text-sm border-b-2 border-gray-300 bg-transparent focus:ring-primary focus:border-primary outline-none">
    @for (chatbot of botNames$ | async; track $index) {
      <option class="text-gray-800 truncate" [value]="chatbot">{{ chatbot }}</option>
    }
  </select> -->
