<div
  id="toolbar"
  cdkDrag
  class="w-20 relative flex justify-center items-start text-white flex-col rounded-md p-2 pt-36 bg-black/50">
  <button cdkDragHandle>
    <svg width="24px" class="absolute cursor-move top-1 right-1" fill="currentColor" viewBox="0 0 24 24">
      <path
        d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </button>

  <div
    [ngClass]="{ '!-left-14': store.isRecordingStarted() }"
    class="absolute w-1/2 left-0 top-16 transition-all duration-300">
    <button (click)="rejectText()" class="w-full bg-red-500 rounded-full">
      <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <title>close</title>
        <path
          d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
      </svg>
    </button>
  </div>

  <button
    [disabled]="store.isRecordingLoading()"
    (pointerdown)="toggleRecording()"
    (contextmenu)="$event.preventDefault()"
    class="absolute top-8 left-1/2 disabled:bg-gray-400 -translate-x-1/2 flex p-2 bg-white size-28 overflow-hidden rounded-full"
    aria-label="record">
    <div [@recordButton]="store.recording()" class="size-24 bg-red-500 rounded-full">
      <div
        [ngClass]="{ hidden: !store.isRecordingStarted() }"
        class="w-full pointer-events-none h-full opacity-90 relative"
        #waves></div>
    </div>
  </button>

  @if (store.hasStream()) {
    <button matRipple (click)="stopStream()" class="text-white">
      <svg fill="currentColor" class="w-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <title>video-off</title>
        <path
          d="M3.27,2L2,3.27L4.73,6H4A1,1 0 0,0 3,7V17A1,1 0 0,0 4,18H16C16.2,18 16.39,17.92 16.54,17.82L19.73,21L21,19.73M21,6.5L17,10.5V7A1,1 0 0,0 16,6H9.82L21,17.18V6.5Z" />
      </svg>
    </button>
  } @else {
    <button matRipple (click)="startStream()" class="text-white">
      <svg fill="currentColor" class="w-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <title>video</title>
        <path
          d="M17,10.5V7A1,1 0 0,0 16,6H4A1,1 0 0,0 3,7V17A1,1 0 0,0 4,18H16A1,1 0 0,0 17,17V13.5L21,17.5V6.5L17,10.5Z" />
      </svg>
    </button>
  }

  <button matRipple (click)="fullscreen.emit()" class="text-white">
    <svg fill="currentColor" class="w-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <title>fullscreen</title>
      <path d="M5,5H10V7H7V10H5V5M14,5H19V10H17V7H14V5M17,14H19V19H14V17H17V14M10,17V19H5V14H7V17H10Z" />
    </svg>
  </button>
</div>
