<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="relative p-4 h-full w-full flex flex-col gap-4 bg-secondary-100/80 rounded-xl shadow">
  <div class="flex-1 grid grid-cols-7 gap-4">
    <div class="col-span-4">
      <div class="w-full h-full">
        <textarea
          (keydown.enter)="$event.preventDefault(); test()"
          [placeholder]="lang.locals.type_all_text_here"
          [formControl]="text"
          type="text"
          tabindex="1"
          rows="3"
          class="w-full h-full resize-none text-lg p-2 text-primary placeholder:text-primary-300 border-2 border-secondary-200 focus:border-secondary-300 rounded-lg bg-secondary-200/80 shadow-md outline-none"></textarea>
      </div>
      @if (wordsLimitExceeded) {
        <p class="text-gray-300 font-semibold text-sm">*{{ lang.locals.words_limit_is }} 70</p>
      }
    </div>
    <div class="col-span-3 relative flex flex-col items-end h-full overflow-hidden justify-center rounded-md">
      <div
        class="absolute z-50 top-2 end-2 flex items-center gap-2 shadow-2xl shadow-white bg-black/20 py-1 px-2 rounded-full">
        <span class="text-white text-sm font-semibold">{{ onlineStatus() }}</span>
        <div
          [ngClass]="{
            'bg-red-600': store.isStreamStopped(),
            'bg-green-700': store.isStreamStarted(),
            'bg-orange-500': store.isStreamLoading(),
          }"
          class="p-2 rounded-full"></div>
        <div
          [ngClass]="{
            'bg-red-600': store.isStreamStopped(),
            'bg-green-700': store.isStreamStarted(),
            'bg-orange-500': store.isStreamLoading(),
          }"
          class="p-2 absolute end-2 pulse rounded-full"></div>
      </div>

      <div class="absolute w-full h-full overflow-hidden">
        <video [hidden]="store.isStreamStopped() || store.isStreamLoading()" autoplay #video class="w-full"></video>
        <video #idleVideo [hidden]="store.isStreamStarted()" class="w-full">
          <source [src]="store.idleAvatarUrl()" type="video/webm" />
        </video>
      </div>
    </div>

    {{ init$ | async }}
  </div>

  <div class="grid grid-cols-7 gap-4">
    <div class="col-span-4 flex justify-start items-center gap-4">
      <button
        appButton
        size="lg"
        color="accent"
        class="w-40"
        (click)="test()"
        [disabled]="!store.isStreamStarted() || isLoading || !text.value || wordsLimitExceeded">
        @if (isLoading) {
          <app-spinner-loader [width]="24" [borderWidth]="4" color="white"></app-spinner-loader>
        } @else {
          {{ lang.locals.test }}
        }
      </button>
      <button
        appButton
        size="lg"
        class="w-40"
        (click)="updateAndDownload()"
        [disabled]="isLoading || isDownloading || !text.value || wordsLimitExceeded">
        {{ lang.locals.download }}
      </button>
    </div>
    <div class="col-span-3 flex justify-center items-center gap-4">
      <button
        [disabled]="store.isStreamLoading()"
        (pointerdown)="toggleStream()"
        class="!h-16 !w-16 flex flex-col items-center justify-center bg-white rounded-md shadow text-primary text-xs transition-all hover:bg-white/70 disabled:opacity-50 disabled:cursor-not-allowed">
        @if (store.isStreamLoading()) {
          <app-spinner-loader [color]="appColors.PRIMARY" [borderWidth]="2" [width]="20" />
        } @else {
          <img
            [src]="store.isStreamStarted() ? 'assets/icons/stop.png' : 'assets/icons/start.png'"
            class="size-6"
            alt="start" />
          {{ store.isStreamStarted() ? lang.locals.stop : lang.locals.start }}
        }
      </button>
      <button
        [disabled]="!store.isStreamStarted()"
        (click)="interruptAvatar()"
        class="!h-16 !w-16 flex flex-col items-center justify-center bg-white rounded-md shadow text-primary text-xs transition-all hover:bg-white/70 disabled:opacity-50 disabled:cursor-not-allowed">
        <span class="relative size-6">
          <img [src]="'assets/icons/speak.png'" class="w-full h-full" alt="start" />
          <img [src]="'assets/icons/stop.png'" class="absolute top-0 left-0 w-full h-full opacity-60" alt="start"
        /></span>
        {{ lang.locals.stop_talking }}
      </button>
    </div>
  </div>
</div>
@if (isDownloading) {
  <div
    class="absolute left-0 top-0 w-full h-full z-50 flex items-center justify-center gap-2 bg-black/60 overflow-hidden ltr:rounded-tl-xl rtl:rounded-tr-xl">
    <span class="font-medium text-2xl">{{ lang.locals.video_generating_and_downloading_progress }}</span>
    <span class="flex text-6xl">
      <span class="animate-[bounce_1s_ease-in-out_infinite]">.</span>
      <span class="animate-[bounce_1s_ease-in-out_infinite_0.2s]">.</span>
      <span class="animate-[bounce_1s_ease-in-out_infinite_0.4s]">.</span>
    </span>
  </div>
}
