<app-avatar-video [size]="'life-size'" #avatarVideoComponent />

@if (store.isStreamLoading()) {
  <div class="z-50 flex items-center justify-center w-full bg-black/50 h-full fixed">
    <div class="lds-ellipsis">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
}

@if (qrCodeOpened && store.hasStream()) {
  <div (click)="qrCodeOpened = false" class="z-50 flex items-center justify-center w-full bg-black/80 h-full fixed">
    <div (click)="$event.stopPropagation()" class="relative flex flex-col justify-center items-center gap-2">
      <button
        (click)="qrCodeOpened = false"
        class="absolute -top-11 -left-11 w-12 h-12 p-1 text-white rounded-full bg-black/85">
        <svg fill="currentColor" viewBox="0 0 24 24">
          <title>close</title>
          <path
            d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
        </svg>
      </button>
      <qrcode [qrdata]="getQRData()" [width]="256"></qrcode>
      <span class="p-1 text-white">streamId: {{ store.streamId() }}</span>
    </div>
  </div>
}

<div
  class="bg-black/50 fixed left-0 rounded p-4 transition-transform"
  [ngClass]="{ '-translate-x-full': !settingsOpened }"
  id="settings">
  <div class="relative flex flex-col">
    <button
      (click)="toggleSettings()"
      [matTooltip]="lang.locals.settings"
      class="absolute -top-2 -right-14 z-20 bg-black/50 rounded-r text-white"
      aria-label="Settings">
      <svg class="size-10" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <title>cog</title>
        <path
          d="M12,15.5A3.5,3.5 0 0,1 8.5,12A3.5,3.5 0 0,1 12,8.5A3.5,3.5 0 0,1 15.5,12A3.5,3.5 0 0,1 12,15.5M19.43,12.97C19.47,12.65 19.5,12.33 19.5,12C19.5,11.67 19.47,11.34 19.43,11L21.54,9.37C21.73,9.22 21.78,8.95 21.66,8.73L19.66,5.27C19.54,5.05 19.27,4.96 19.05,5.05L16.56,6.05C16.04,5.66 15.5,5.32 14.87,5.07L14.5,2.42C14.46,2.18 14.25,2 14,2H10C9.75,2 9.54,2.18 9.5,2.42L9.13,5.07C8.5,5.32 7.96,5.66 7.44,6.05L4.95,5.05C4.73,4.96 4.46,5.05 4.34,5.27L2.34,8.73C2.21,8.95 2.27,9.22 2.46,9.37L4.57,11C4.53,11.34 4.5,11.67 4.5,12C4.5,12.33 4.53,12.65 4.57,12.97L2.46,14.63C2.27,14.78 2.21,15.05 2.34,15.27L4.34,18.73C4.46,18.95 4.73,19.03 4.95,18.95L7.44,17.94C7.96,18.34 8.5,18.68 9.13,18.93L9.5,21.58C9.54,21.82 9.75,22 10,22H14C14.25,22 14.46,21.82 14.5,21.58L14.87,18.93C15.5,18.67 16.04,18.34 16.56,17.94L19.05,18.95C19.27,19.03 19.54,18.95 19.66,18.73L21.66,15.27C21.78,15.05 21.73,14.78 21.54,14.63L19.43,12.97Z" />
      </svg>
    </button>
    @if (store.isStreamLoading()) {
      <button aria-label="close stream" class="text-white cursor-progress size-20 bg-orange-500 rounded-full">
        <div class="pulse rounded-full w-full h-full bg-primary flex justify-center items-center">
          <span>{{ avatarVideoComponent.onlineStatus() }}</span>
        </div>
      </button>
    } @else {
      <button
        matRipple
        (click)="toggleStream()"
        aria-label="close stream"
        [ngClass]="{ 'bg-green-700': store.isStreamStarted(), 'bg-red-600': store.isStreamStopped() }"
        class="text-white size-20 rounded-full">
        {{ avatarVideoComponent.onlineStatus() }}
      </button>
    }

    <button matRipple (click)="toggleFullScreen()" class="text-white">
      <svg fill="currentColor" class="size-20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <title>fullscreen</title>
        <path d="M5,5H10V7H7V10H5V5M14,5H19V10H17V7H14V5M17,14H19V19H14V17H17V14M10,17V19H5V14H7V17H10Z" />
      </svg>
    </button>
    @if (store.hasStream()) {
      <button matRipple (click)="qrCodeOpened = true" class="text-white">
        <svg fill="currentColor" class="size-20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <title>QR code</title>
          <path
            d="M3,11H5V13H3V11M11,5H13V9H11V5M9,11H13V15H11V13H9V11M15,11H17V13H19V11H21V13H19V15H21V19H19V21H17V19H13V21H11V17H15V15H17V13H15V11M19,19V15H17V19H19M15,3H21V9H15V3M17,5V7H19V5H17M3,3H9V9H3V3M5,5V7H7V5H5M3,15H9V21H3V15M5,17V19H7V17H5Z" />
        </svg>
      </button>
    }
  </div>
</div>
