<div class="grid grid-cols-2 gap-4">
  @for (index of getIndices(); track index) {
    <div
      class="w-full h-full gap-4"
      [ngClass]="{ 'grid grid-cols-2': isVertical(index), 'flex flex-col': !isVertical(index) }">
      <app-nav-card
        *appHasPermission="pages[index].permissions"
        class="w-full"
        [ngClass]="{ 'h-full': isVertical(index) }"
        [color]="pages[index].color!"
        [title]="lang.locals[pages[index].label]"
        [description]="lang.locals[pages[index].desc!]"
        [icon]="pages[index].svg"
        [link]="pages[index].route"
        shape="vertical" />
      @if (index + 1 < pages.length) {
        <app-nav-card
          *appHasPermission="pages[index + 1].permissions"
          class="w-full"
          [ngClass]="{ 'h-full': isVertical(index) }"
          [color]="pages[index + 1].color!"
          [title]="lang.locals[pages[index + 1].label]"
          [description]="lang.locals[pages[index + 1].desc!]"
          [icon]="pages[index + 1].svg"
          [link]="pages[index + 1].route"
          shape="vertical" />
      }
    </div>
  }
</div>

<router-outlet />
