<div #baseElement class="relative h-full w-full flex items-center justify-center bg-secondary-100/80 rounded-xl shadow">
  <div class="flex flex-col items-center h-full justify-center absolute">
    @if (recognizedText()) {
      <span
        class="absolute w-[90%] z-10 bottom-1/2 left-1/2 -translate-x-1/2 bg-black/70 text-white text-sm rounded px-2 py-1"
        >{{ recognizedText() }}</span
      >
    }
    <div class="absolute -start-20 top-1/2 -translate-y-1/2 !w-16 flex flex-col gap-2">
      <button
        [disabled]="store.isStreamLoading()"
        (pointerdown)="toggleStream()"
        class="!h-16 flex flex-col items-center justify-center bg-white rounded-md shadow text-primary text-xs transition-all hover:bg-white/70 disabled:opacity-50 disabled:cursor-not-allowed">
        @if (store.isStreamLoading()) {
          <app-spinner-loader [color]="appColors.PRIMARY" [borderWidth]="2" [width]="20" />
        } @else {
          <img
            [src]="store.isStreamStarted() ? 'assets/icons/stop.png' : 'assets/icons/start.png'"
            class="size-6"
            alt="start" />
          {{ store.isStreamStarted() ? lang.locals.stop : lang.locals.start }}
        }
      </button>
      <div class="relative w-full">
        <button
          [matTooltip]="lang.locals.cancel_recording"
          matTooltipPosition="before"
          (click)="rejectText()"
          appButton
          shape="pill"
          [ngClass]="{ '-start-10 opacity-100': store.isRecordingStarted() }"
          class="!p-1 !absolute top-1/2 -translate-y-1/2 opacity-0 transition-all duration-300">
          <svg class="w-5 h-5" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path
              d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
          </svg>
        </button>
        <button
          [disabled]="store.isRecordingLoading() || recognizingStatus()"
          (click)="toggleRecording()"
          class="relative w-full !h-16 flex flex-col items-center justify-center bg-white rounded-md shadow text-primary text-xs transition-all hover:bg-white/70 disabled:opacity-50 disabled:cursor-not-allowed">
          @if (store.isRecordingLoading()) {
            <app-spinner-loader [color]="appColors.PRIMARY" [borderWidth]="2" [width]="20" />
            <span>{{ lang.locals.loading }}</span>
          }
          @if (store.isRecordingStopped()) {
            <img [src]="'assets/icons/speak.png'" class="size-6" alt="start" />
            <span>{{ lang.locals.click_to_speak }}</span>
          }
          @if (store.isRecordingStarted() && recognizingStatus()) {
            <img [src]="'assets/icons/speak.png'" class="size-6" alt="start" />
            <span>{{ lang.locals.listening_ongoing }}</span>
          }
          @if (store.isRecordingStarted() && !recognizingStatus()) {
            <div [innerHTML]="svgIcons.SEND | sanitizer: 'html'" class="size-6"></div>
            <span>{{ lang.locals.click_to_send }}</span>
          }
        </button>
      </div>
      <button
        [disabled]="!store.isStreamStarted()"
        (click)="interruptAvatar()"
        class="!h-16 flex flex-col items-center justify-center bg-white rounded-md shadow text-primary text-xs transition-all hover:bg-white/70 disabled:opacity-50 disabled:cursor-not-allowed">
        <span class="relative size-6">
          <img [src]="'assets/icons/speak.png'" class="w-full h-full" alt="start" />
          <img [src]="'assets/icons/stop.png'" class="absolute top-0 left-0 w-full h-full opacity-60" alt="start"
        /></span>
        {{ lang.locals.stop_talking }}
      </button>
      <button
        [disabled]="!chatService.messages().length"
        (click)="clearChat()"
        class="!h-16 flex flex-col items-center justify-center bg-white rounded-md shadow text-primary text-xs transition-all hover:bg-white/70 disabled:opacity-50 disabled:cursor-not-allowed">
        <img [src]="'assets/icons/clear-chat.png'" class="size-6" alt="start" />
        {{ lang.locals.clear_chat_history }}
      </button>
      <button
        [disabled]="!store.isStreamStarted()"
        (click)="qrCodeOpened = true"
        class="!h-16 flex flex-col items-center justify-center bg-white rounded-md shadow text-primary text-xs transition-all hover:bg-white/70 disabled:opacity-50 disabled:cursor-not-allowed">
        <svg fill="currentColor" class="size-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path
            d="M3,11H5V13H3V11M11,5H13V9H11V5M9,11H13V15H11V13H9V11M15,11H17V13H19V11H21V13H19V15H21V19H19V21H17V19H13V21H11V17H15V15H17V13H15V11M19,19V15H17V19H19M15,3H21V9H15V3M17,5V7H19V5H17M3,3H9V9H3V3M5,5V7H7V5H5M3,15H9V21H3V15M5,17V19H7V17H5Z" />
        </svg>
        {{ lang.locals.qr_code }}
      </button>
      <button
        (click)="toggleFullScreen()"
        class="!h-16 flex flex-col items-center justify-center bg-white rounded-md shadow text-primary text-xs transition-all hover:bg-white/70 disabled:opacity-50 disabled:cursor-not-allowed">
        <svg fill="currentColor" class="size-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M5,5H10V7H7V10H5V5M14,5H19V10H17V7H14V5M17,14H19V19H14V17H17V14M10,17V19H5V14H7V17H10Z" />
        </svg>
        {{ lang.locals.full_screen }}
      </button>
    </div>
    <div class="w-full absolute top-2 px-2 flex justify-between items-center">
      <div class="relative flex items-center gap-2 shadow-2xl shadow-white bg-black/20 py-1 px-2 rounded-full">
        <span class="text-white text-sm font-semibold">{{ onlineStatus() }}</span>
        <div
          [ngClass]="{
            'bg-red-600': store.isStreamStopped(),
            'bg-green-700': store.isStreamStarted(),
            'bg-orange-500': store.isStreamLoading(),
          }"
          class="p-2 rounded-full"></div>
        <div
          [ngClass]="{
            'bg-red-600': store.isStreamStopped(),
            'bg-green-700': store.isStreamStarted(),
            'bg-orange-500': store.isStreamLoading(),
          }"
          class="p-2 absolute end-2 pulse rounded-full"></div>
      </div>
      <div
        [ngClass]="{ hidden: !store.isRecordingStarted() }"
        class="w-28 h-6 overflow-hidden transition-all rounded-full border border-white/30">
        <div class="w-full pointer-events-none h-full opacity-90" #waves></div>
      </div>
    </div>

    <video class="h-full" autoplay [hidden]="store.isStreamStopped() || store.isStreamLoading()" #video></video>
    <video class="h-full" #idleVideo [hidden]="store.isStreamStarted()">
      <source [src]="store.idleAvatarUrl()" type="video/webm" />
    </video>

    <div class="absolute bottom-0 w-full max-h-[45%] overflow-y-auto no-scrollbar overflow-x-hidden">
      <div
        #container
        class="min-h-0 flex-auto flex flex-col gap-1 w-full h-full relative overflow-hidden py-1 px-2 [&>.message.user]:justify-start [&>.message]:text-white">
        @for (message of chatService.messages(); track message.id) {
          <div class="message {{ message.role }}">
            @if (message.role === 'assistant') {
              <div
                appTextWriterAnimator
                (animating)="animationStatus.set($event)"
                class="whitespace-pre-wrap break-words"
                [text]="message.content"></div>
            } @else {
              <div class="whitespace-pre-wrap break-words" [innerHtml]="message.content"></div>
            }

            @if (message.context && message.context.citations.length) {
              <div>
                <!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
                <!-- eslint-disable-next-line @angular-eslint/template/interactive-supports-focus -->
                <div class="icon-with-title" (click)="linkRef.hidden = !linkRef.hidden">
                  <i
                    class="mdi"
                    [ngClass]="{
                      'mdi-chevron-down': linkRef.hidden,
                      'mdi-chevron-up': !linkRef.hidden,
                    }"></i>
                  <span class="title">References</span>
                </div>
                <!-- eslint-enable @angular-eslint/template/click-events-have-key-events -->

                <div #linkRef hidden>
                  @for (link of message.context.citations; track $index) {
                    <div dir="auto">
                      <div class="d-inline">
                        <small class="px-1 text-primary">
                          doc {{ $index + 1 }} <i class="mdi mdi-link-variant"></i
                        ></small>
                      </div>
                      <!--                    (click)="openDocModal(docModal, link)" -->
                      <a class="d-inline citation-link" style="cursor: pointer">{{ link.filepath }}</a>
                    </div>
                  }
                </div>
              </div>
            }
          </div>
        }
      </div>
    </div>
    @if (qrCodeOpened && store.isStreamStarted()) {
      <div (click)="qrCodeOpened = false" class="absolute w-full h-full flex items-center justify-center bg-black/80">
        <div (click)="$event.stopPropagation()" class="relative flex flex-col justify-center items-center gap-2">
          <qrcode [qrdata]="getQRData()"></qrcode>
          <span class="p-1 text-white">streamId: {{ store.streamId() }}</span>
          <button (click)="qrCodeOpened = false" class="w-10 h-10 p-1 text-white rounded-full bg-white/30">
            <svg fill="currentColor" viewBox="0 0 24 24">
              <path
                d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
            </svg>
          </button>
        </div>
      </div>
    }
  </div>

  {{ init$ | async }}
</div>
