<div id="video-wrapper" class="flex items-center w-full h-full justify-center">
  <div class="flex flex-col items-center w-full h-full justify-center absolute">
    <div
      class="flex gap-1 shadow-2xl shadow-white bg-black/20 p-1 mt-2 absolute z-50 top-0 rounded-md"
      [ngClass]="{ 'scale-50 left-0': !hasSize() }">
      <div
        [ngClass]="{
          'bg-red-600': store.isStreamStopped(),
          'bg-green-700': store.isStreamStarted(),
          'bg-orange-500': store.isStreamLoading(),
        }"
        class="p-4 rounded-full"></div>
      <div
        [ngClass]="{
          'bg-red-600': store.isStreamStopped(),
          'bg-green-700': store.isStreamStarted(),
          'bg-orange-500': store.isStreamLoading(),
        }"
        class="p-4 absolute pulse rounded-full"></div>
      @if (hasSize()) {
        <span class="text-white font-semibold">{{ onlineStatus() }}</span>
      }
    </div>

    <video
      autoplay
      [hidden]="store.isStreamStopped() || store.isStreamLoading()"
      #video
      [ngClass]="{ 'h-full': hasSize(), 'w-full': !hasSize() }"></video>

    @if (hasSize()) {
      <video #idleVideo [ngClass]="{ 'h-full': hasSize(), 'w-full': !hasSize() }" [hidden]="store.isStreamStarted()">
        <source src="assets/videos/idle-full.webm" type="video/webm" />
      </video>
    }
  </div>
  {{ init$ | async }}
</div>
