<div
  class="flex items-center justify-between w-full border border-gray-300 rounded-lg p-2 bg-gray-50 cursor-pointer"
  appDndUploader
  dragHostClass="!border-primary"
  (files)="onFileUpload($event)"
  tabindex="-1"
  (keyup.enter)="inputFile.click()"
  (click)="inputFile.click()">
  <!-- File Name / Placeholder -->
  <p class="text-sm text-gray-500">
    {{ files().length ? files()[0].file.name : lang.locals.click_to_upload_or_dnd }}
  </p>

  <input
    #inputFile
    id="dropzone-file"
    type="file"
    accept="application/pdf"
    (change)="onChooseFile($event)"
    class="hidden" />

  <!-- Buttons aligned to the right -->
  <div class="flex gap-2 rtl:mr-auto ltr:ml-auto">
    <button
      (click)="$event.stopPropagation(); onUpload.emit()"
      [disabled]="!files().length || disableAllWhenUpload()"
      class="w-20 px-2 py-1 text-xs font-medium text-white bg-primary rounded-md disabled:bg-primary/50">
      {{ lang.locals.upload }}
    </button>

    <button
      (click)="$event.stopPropagation(); removeAllFiles()"
      [disabled]="!files().length || disableAllWhenUpload()"
      class="w-20 px-2 py-1 text-xs font-medium text-gray-700 bg-gray-300 rounded-md disabled:bg-gray-300/50">
      {{ lang.locals.remove }}
    </button>
  </div>
</div>
