<div class="p-4 w-full">
  <h2 class="text-xl font-semibold text-gray-700 p-4">{{ audioEffects().length }} {{ lang.locals.audio_effects }}</h2>
  <div class="flex p-4">
    <div class="flex flex-wrap gap-2">
      @for (audioEffect of audioEffects(); track $index) {
        <button
          type="button"
          (click)="selectedAudioId.set(audioEffect.id)"
          [ngClass]="{ '!bg-primary !text-white': this.selectedAudioId() === audioEffect.id }"
          class="bg-transparent outline-none rounded-xl text-sm border border-gray-700 text-700 px-4 text-gray-700">
          {{ audioEffect.type }}
        </button>
      }
    </div>
  </div>
  <app-insights-timeline [instanceGroup]="instanceGroup()" />
</div>
