<div class="relative flex flex-col">
  <div class="flex flex-wrap md:flex-nowrap items-center sticky top-0 bg-gray-100 shadow-sm z-10 p-2">
    <div class="w-full md:w-1/2">
      <app-supported-language (onLanguageChange)="onInsightsLangChange.emit($event)" />
    </div>
    <div class="w-full md:w-1/2">
      <!-- Tabs -->
      <div class="relative flex justify-between items-center m-2 bg-gray-200 rounded-md">
        <button
          #tab
          type="button"
          (click)="setActiveTab('INSIGHTS')"
          [class.text-white]="activeTab() === 'INSIGHTS'"
          class="relative w-full text-xs p-2 focus:outline-none rounded-md text-primary font-semibold hover:underline hover:cursor-pointer z-10">
          {{ lang.locals.insights }}
        </button>
        <button
          #tab
          type="button"
          (click)="setActiveTab('TIMELINE')"
          [class.text-white]="activeTab() === 'TIMELINE'"
          class="relative w-full text-xs p-2 focus:outline-none rounded-md text-primary font-semibold hover:underline hover:cursor-pointer z-10">
          {{ lang.locals.transcript }}
        </button>
        <button
          #tab
          type="button"
          (click)="setActiveTab('SUMMARY')"
          [class.text-white]="activeTab() === 'SUMMARY'"
          class="relative w-full text-xs p-2 focus:outline-none rounded-md text-primary font-semibold hover:underline hover:cursor-pointer z-10">
          {{ lang.locals.video_summary }}
        </button>
        <div
          class="absolute top-0 left-0 h-full bg-primary transition-all duration-300 rounded-md z-0"
          [style.width]="indicatorWidth()"
          [style.transform]="indicatorTransform()"></div>
      </div>
    </div>
  </div>
  <div appPerfectScroll [perfectScrollOptions]="{ suppressScrollX: true }" class="bg-gray-100 h-[50vh]">
    @if (activeTab() === 'INSIGHTS') {
      @if (insightsSections()) {
        @for (config of insightsSections() | keyvalue: originalOrder; track $index) {
          @let cmpConfig = config.value;
          @if (cmpConfig.show) {
            <ng-container [ngComponentOutlet]="cmpConfig.component" [ngComponentOutletInputs]="cmpConfig.inputs" />
          }
          @if ($index > 1) {
            <hr class="h-0.5 bg-gray-200" />
          }
        }
      }
    }
    @if (activeTab() === 'TIMELINE') {
      <app-video-timeline [transcript]="videoInsights().transcript" />
    }
    @if (activeTab() === 'SUMMARY') {
      <p class="text-gray-500 text-sm leading-8 text-justify p-4">
        {{ videoSummary() }}
      </p>
    }
  </div>
  @if (videoAnalyzerService.translatingLoader | async) {
    <div class="flex flex-col justify-center items-center absolute inset-0 bg-white">
      <p class="text-gray-700 text-center text-xl font-bold animate-pulse">{{ lang.locals.translating }}</p>
      <p class="text-gray-700 text-center text-sm">{{ lang.locals.this_may_take_few_moments }}</p>
    </div>
  }
</div>
