<div class="relative">
  <!-- Chips List -->
  <mat-chip-grid
    #chipGrid
    class="w-full p-2 border max-h-20 overflow-y-auto border-gray-300 rounded-lg focus:outline-none focus:ring focus:ring-blue-400 text-gray-800">
    <!-- Existing Chips -->
    <mat-chip-row *ngFor="let chip of chips; let i = index" [removable]="true" (removed)="removeChip(i)">
      {{ chip }}
      <button matChipRemove [attr.aria-label]="'remove ' + chip" type="button" class="!text-primary">&times;</button>
    </mat-chip-row>

    <!-- Input Field -->
    <input
      [matChipInputFor]="chipGrid"
      [placeholder]="placeholder"
      [(ngModel)]="inputValue"
      (matChipInputTokenEnd)="addChip()"
      class="border-none outline-none" />
  </mat-chip-grid>
</div>

<!-- Error Message -->
<p *ngIf="error" class="mt-2 text-sm text-red-500">{{ error }}</p>
