<div class="relative">
  <!-- Chips List -->
  <mat-chip-grid
    appPerfectScroll
    [observeContent]="true"
    [perfectScrollOptions]="{ suppressScrollX: true }"
    [formControl]="formControl"
    #chipGrid
    class="w-full p-2 border max-h-20 border-gray-300 rounded-lg focus:outline-none focus:ring focus:ring-gray-300 text-gray-800">
    <!-- Existing Chips -->
    @for (chip of chips; track $index; let i = $index) {
      <mat-chip-row [removable]="true" (removed)="removeChip(i)">
        {{ chip }}
        <button matChipRemove [attr.aria-label]="'remove ' + chip" type="button" class="!text-primary">&times;</button>
      </mat-chip-row>
    }
    <!-- Input Field -->
    <input
      [matChipInputFor]="chipGrid"
      [placeholder]="placeholder()"
      (matChipInputTokenEnd)="addChip($event)"
      class="border-none outline-none bg-transparent" />
  </mat-chip-grid>
</div>

<!-- Error Message -->
@if (error) {
  <p class="mt-2 text-sm text-red-500">{{ error }}</p>
}
